alembic==1.17.0
annotated-types==0.7.0
anyio==4.11.0
asttokens==3.0.0
attrs==25.4.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
bio==1.8.1
biopython==1.85
biothings_client==0.4.1
blinker==1.4
blis==0.7.11
catalogue==2.0.10
cattrs==25.3.0
certifi==2020.6.20
chardet==4.0.0
chembl-webresource-client==0.10.9
click==7.1.2
cloud-init==25.1.4
cloudpathlib==0.23.0
colorama==0.4.4
colorlog==6.10.1
command-not-found==0.3
confection==0.1.5
configobj==5.0.6
conllu==6.0.0
constantly==15.1.0
contourpy==1.3.2
cryptography==3.4.8
cycler==0.12.1
cymem==2.0.11
dbus-python==1.2.18
decorator==5.2.1
distro==1.7.0
distro-info==1.1+ubuntu0.2
easydict==1.13
en_ner_bc5cdr_md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz#sha256=ffc73130a710edf851206199720cb2c744a043e032f5da6ba4bb36863deca778
exceptiongroup==1.3.0
executing==2.2.1
fonttools==4.60.1
gensim==4.3.3
gprofiler-official==1.0.0
greenlet==3.2.4
h11==0.16.0
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==21.3.0
ipython==8.37.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.0.3
joblib==1.5.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
kiwisolver==1.4.9
langcodes==3.5.0
language_data==1.3.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
Mako==1.3.10
marisa-trie==1.3.1
markdown-it-py==4.0.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==8.10.0
murmurhash==1.0.13
mygene==3.2.2
netifaces==0.11.0
nltk==3.9.2
nmslib-metabrainz==2.1.3
numpy==1.26.4
oauthlib==3.2.0
optuna==4.5.0
packaging==25.0
pandas==2.3.3
parso==0.8.5
pathlib_abc==0.1.1
pathy==0.11.0
pexpect==4.8.0
pillow==12.0.0
platformdirs==4.5.0
pooch==1.8.2
preshed==3.0.10
prompt_toolkit==3.0.52
psutil==7.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
py4j==0.10.9.9
pyasn1==0.4.8
pyasn1-modules==0.2.1
pybind11==3.0.1
pydantic==2.12.3
pydantic_core==2.41.4
Pygments==2.19.2
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==3.2.5
pyrsistent==0.18.1
pysbd==0.3.4
pyserial==3.5
pyspark==4.0.1
python-apt==2.4.0+ubuntu3
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.1.1
python-magic==0.4.24
pytz==2022.1
PyYAML==5.4.1
regex==2025.9.18
requests==2.25.1
requests-cache==1.2.1
rich==14.2.0
scikit-learn==1.7.2
scipy==1.13.1
scispacy==0.6.2
SecretStorage==3.3.1
service-identity==18.1.0
shellingham==1.5.4
six==1.16.0
smart-open==6.4.0
sniffio==1.3.1
sos==4.5.6
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.44
srsly==2.5.1
ssh-import-id==5.11
stack-data==0.6.3
systemd-python==234
thinc==8.2.5
threadpoolctl==3.6.0
tikzplotlib==0.10.1
tomli==2.3.0
tqdm==4.67.1
traitlets==5.14.3
Twisted==22.1.0
typer==0.3.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
url-normalize==2.2.1
urllib3==1.26.5
wadllib==1.3.6
wasabi==0.10.1
wcwidth==0.2.14
weasel==0.4.1
webcolors==24.11.1
wrapt==1.17.3
xkit==0.0.0
zipp==1.0.0
zope.interface==5.4.0
